<%= form_for(@mitarbeiter) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :personalnr %>
		<%= f.text_field :personalnr %>
	</p>
	<p>
		<%= f.label :eintritt %>
		<%= f.datetime_select :eintritt %>
	</p>
	<p>
		<%= f.label :gehalt %>
		<%= f.text_field :gehalt %>
	</p>
	<p><%= f.submit %></p>

<% end %> 