<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubes</title>
  </head>
  <body> 
  	<h1><%= pluralize(@mitarbeiters.count, "Mitarbeiter" ) %></h1>
	<table>
		<tr>
			<td>Name</td>
			<td>PersonalNr</td>
			<td>Eintrittsdatum</td>
			<td>Gehalt</td>
		</tr>
		<% @mitarbeiters.each do |mitarbeiter| %>
		<tr>
			<td><%= mitarbeiter.name %></td>
			<td><%= mitarbeiter.personalnr %></td>
			<td><%= mitarbeiter.eintritt %></td>
			<td><%= mitarbeiter.gehalt %></td>
			<td><%= link_to "Show", cube_path(mitarbeiter.id) %></td>
			<td><%= link_to "Edit", edit_cube_path(mitarbeiter.id) %></td>
			<td><%= link_to "Delete", cube_path(mitarbeiter.id), method: :delete, data: { confirm: 'Sicher löschen?'} %></td>

		</tr>
	<% end %>
	</table>
	<p><%= link_to "Neuer Mitarbeiter", new_cube_path %></p>    
  </body>
</html>  