<%- model_class = Holiday -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> for <%= @user.prename.capitalize %> <%= @user.lastname.capitalize %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:start) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.start %></td>
        <td><%= holiday.end %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      user_holiday_path(@user.id,holiday.id), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_holiday_path(@user.id,holiday.id), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_holiday_path(@user.id,holiday.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= button_to 'Accept', rofl_path(title: @user.lastname, start: holiday.start, end: holiday.end, color: "green") %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_holiday_path(@user.id),
            :class => 'btn btn-primary' %>
<br><br>
<div class="page-header">
  <h3>Events for all Users</h3>
</div>
<p id="black">Black -> Meetings</p>
<p id="green">Green -> Holidays</p>
<p id="red">Red -> Projects</p>
<div class="calendar"></div>