<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% if current_user_admin? %>
	<p>
	  <strong>Admin:</strong>
	  <%= @user.admin %>
	</p>

	<p>
	  <strong>Active:</strong>
	  <%= @user.active %>
	</p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
