<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author.lastname%>,<%= @book.author.firstname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Back', author_books_path %>
